.turn-order {
    margin: 0 10px;
}

.turn-order h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 5px;
    font-family: 'Oxanium', cursive;
    font-weight: 500;
}

.turn-order ol {
    padding: 0 0 5px 30px;
    counter-reset: turn-counter;
    list-style: none;
    font-size: 1.4rem;
    line-height: 1.4;
}

.turn-order li {
    margin: 0 0 5px 0;
    counter-increment: turn-counter;
    position: relative;
}

.turn-order li::before {
    content: counter(turn-counter) '. ';
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: -25px;
}
