{
    "src/**/*.{js,ts}": [
        "prettier --write",
        "eslint --fix",
    ],
    "src/ui/**/*.css": [
        "prettier --write"
    ],
    "src/**/*.json": [
        "prettier --write"
    ]
}
