{
    "{apps,packages}/*/src/**/*.{js,ts}": ["prettier --write", "eslint --fix --ext .js,.ts"],
    "{apps,packages}/*/src/**/*.css": ["prettier --write"],
    "{apps,packages}/*/src/**/*.json": ["prettier --write"]
}
