{
    "packages/*/src/**/*.{js,ts}": [
        "prettier --write",
        "eslint --fix --ext .js,.ts",
    ],
    "packages/ui/src/**/*.css": [
        "prettier --write"
    ],
    "packages/*/src/**/*.json": [
        "prettier --write"
    ]
}
