{
    "printWidth": 100,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": true,
    "overrides": [
        {
            "files": "{.prettierrc,.huskyrc,.lintstagedrc}",
            "options": {
                "parser": "json"
            }
        }
    ]
}
