{
    "overrides": [
        {
            "files": "{.prettierrc,.huskyrc,.lintstagedrc}",
            "options": {
                "parser": "json"
            }
        }
    ],
    "printWidth": 90,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false
}
