@import './utils/reset.css';
@import './utils/constants.css';
@import './utils/typography.css';
@import '../core/buttons/buttons.css';
@import './utils/links.css';

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container--slim {
    max-width: 900px;
    margin: 0 auto;
}

#root {
    position: relative;
}
