.card {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 20px;
    background-color: var(--shade-0);
    padding: 20px;
}

.card h1 {
    font-family: 'Kungfont', serif;
    font-size: 7.2rem;
}

.card-full {
    grid-column: col-start 1 / span 12;
}
.card-left {
    grid-column: col-start 1 / span 5;
}
.card-right {
    grid-column: col-start 6 / span 7;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
