a {
    text-decoration: none;
    color: #1a1a1a;
    transition: color 0.1s;
}

.link--dark {
    color: #efefef;
}

a:hover,
a:active,
a:focus,
a.active,
a.link--dark:hover,
a.link--dark:active,
a.link--dark:focus,
a.link--dark.active {
    outline: none;
    color: #f57723;
}

.link--bar {
    display: block;
    padding: 5px 15px;
    transition: background-color 0.1s, color 0.1s;
    flex-grow: 1;
}

.link--bar:hover,
.link--bar:active,
.link--bar:focus,
.link--bar.active {
    background-color: #f57723;
    color: white;
}
