a {
    text-decoration: none;
    color: #1a1a1a;
    transition: color 0.1s;
}

.light {
    color: #efefef;
}

a:hover,
a:active,
a:focus,
a.active,
a.light:hover,
a.light:active,
a.light:focus,
a.light.active {
    outline: none;
    color: #f57723;
}

.underlined {
    text-decoration: underline;
}

.bar {
    display: block;
    padding: 5px 15px;
    transition: background-color 0.1s, color 0.1s;
    flex-grow: 1;
}

.bar:hover,
.bar:active,
.bar:focus,
.bar.active,
.bar.light:hover,
.bar.light:active,
.bar.light:focus,
.bar.light.active {
    background-color: #f57723;
    color: white;
}
