.stats {
    display: flex;
    flex-wrap: wrap;
}

.stats > span {
    margin-right: 20px;
    font-size: 1.4rem;
    line-height: 2;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.stats b {
    padding-right: 5px;
}

.stats .name {
    margin-right: 5px;
    background-color: var(--special-4);
    color: var(--shade-0);
    padding: 0 5px;
}

.title {
    font-family: 'Kungfont', sans-serif;
    font-size: 1.8rem;
    padding: 0 10px 0 5px;
    top: -3px;
    position: relative;
}

.stats .health {
    margin-right: 5px;
    background-color: var(--special-4);
    color: var(--shade-0);
    padding: 0 2px 0 5px;
}

.health span {
    background-color: var(--shade-0);
    color: var(--shade-4);
    font-size: 1.3rem;
    padding: 4px 5px 3px 10px;
}

.stats .toughness {
    margin-right: 5px;
    background-color: var(--special-3);
    padding: 0 20px;
}

.stats .resistance {
    background-color: var(--resistance);
    padding: 0 20px;
}
