header {
    padding: 0 20px;
    background: #1a1e21;
    height: 52px;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav li {
    padding: 0 0 0 15px;
}

.nav a {
    color: #ededed;
}

.nav a:hover,
.nav a:focus,
.nav .active {
    outline: none;
    color: #f57723;
}

.primary-nav {
    flex-grow: 1;
}

.account-nav ul {
    flex-direction: row;
}
