.profile-image {
    border-radius: 5px;
    border: 2px solid white;
    height: 20px;
}

.menu-profile {
    display: block;
    position: relative;
}

.menu-profile > summary {
    cursor: pointer;
}

.menu-profile > summary:focus {
    outline: none;
}

.menu-profile > summary::-webkit-details-marker {
    color: white;
    top: -6px;
    position: relative;
    width: 0.5em;
    height: 0.5em;
    margin-inline-end: 0.1em;
}

.menu-profile > summary:hover::-webkit-details-marker,
.menu-profile > summary:focus::-webkit-details-marker {
    color: #f57723;
}

.menu-profile > summary:hover .profile-image,
.menu-profile > summary:focus .profile-image {
    border-color: #f57723;
}

.menu-profile__dropdown {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    padding: 5px 0;
    border-radius: 5px;
    background-clip: padding-box;
    border: 1px solid rgba(27, 31, 35, 0.15);
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
        inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    width: 180px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
}

.user-label {
    padding: 0 15px;
    display: block;
}

.divider {
    margin: 5px 0;
    height: 1px;
    border: none;
    color: #ccc;
    background-color: #ccc;
}
