.header {
    height: 52px;
    padding: 0 20px;
    background: #1a1e21;
}

.header__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    padding: 0 0 0 15px;
}

.primary-nav {
    flex-grow: 1;
}

.account-nav ul {
    flex-direction: row;
}
