footer {
    font-size: 1.3rem;
    padding: 20px;
    background: #ddd;
}

footer .container {
    display: flex;
    flex-direction: row;
}

footer a {
    padding: 0 0 0 20px;
}

footer a:hover {
    text-decoration: underline;
}
