.button {
    padding: 10px 20px;
    font-size: 1.6rem;
    color: var(--shade-4);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border: 1px solid #f57723;
    background-color: #f57723;
    color: var(--shade-1);
    text-transform: uppercase;
    font-family: 'Oxanium', monospace;
    font-weight: 300;
    letter-spacing: 0.3ch;
    line-height: 1;
}

.button:hover,
.button:focus {
    background-color: #b95a1a;
    border-color: #b95a1a;
    color: var(--shade-1);
}

.button--large {
    padding: 20px;
}

.button--small {
    padding: 5px 10px;
    font-size: 1.2rem;
}

.button--primary {
    color: var(--shade-1);
    background-color: #2b792b;
    border-color: #2b792b;
}

.button--primary:hover,
.button--primary:focus {
    background-color: #1b4b1b;
    border-color: #1b4b1b;
}

.button--destructive {
    color: var(--shade-1);
    background-color: #ac2222;
    border-color: #ac2222;
}

.button--destructive:hover,
.button--destructive:focus {
    background-color: #6b1515;
    border-color: #6b1515;
}

.button--outline {
    color: var(--shade-4);
    background-color: transparent;
    border-color: var(--shade-4);
}

.button--outline:hover,
.button--outline:focus {
    background-color: #f57723;
    border-color: #f57723;
    color: var(--shade-1);
}

.button--text {
    color: var(--shade-4);
    background-color: transparent;
    border-color: transparent;
}

.button--text:hover,
.button--text:focus {
    color: #f57723;
    background-color: transparent;
    border-color: transparent;
}
