:root {
    --basic-1: #ede6f2;
    --basic-2: #d5c7e1;
    --basic-3: #b699c8;
    --basic-4: #9f76b4;

    --special-1: #fce4dd;
    --special-2: #f9bbaf;
    --special-3: #f6ab9e;
    --special-4: #f15d5c;

    --grey-1: #e7e7e8;
    --grey-2: #636466;
    --grey-3: #404041;
    --grey-4: #1a1a1a;

    --resistance: #afd4f1;
}
