.characteristics {
    background: var(--shade-0);
    margin: 10px;
    overflow: auto;
    color: var(--shade-3);
}

.characteristics h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 5px;
    font-family: 'Oxanium', cursive;
    font-weight: 500;
}

.characteristics__group {
    margin: 5px 0 10px;
    font-size: 14px;
    line-height: 1.4;
}

.characteristics__group div {
    margin-bottom: 2px;
    background-color: var(--shade-1);
    padding: 3px 5px;
}

.characteristics__group dt {
    font-weight: bold;
    text-transform: capitalize;
}

.characteristics__group dt,
.characteristics__group dd {
    display: inline;
}
