a {
    text-decoration: none;
    color: #1a1a1a;
    transition: color 0.1s;
}

.light-link {
    color: #efefef;
}

a:hover,
a:active,
a:focus,
a.active,
.light-link:hover,
.light-link:active,
.light-link:focus,
.light-link.active {
    outline: none;
    color: #f57723;
}

.underlined {
    text-decoration: underline;
}

.bar-link {
    display: block;
    padding: 5px 15px;
    transition: background-color 0.1s, color 0.1s;
}

.bar-link:hover,
.bar-link:active,
.bar-link:focus {
    background-color: #f57723;
    color: white;
}
