.join-intro {
    padding: 60px 0;
    display: block;
    max-width: 300px;
    margin: 0 auto;
}

.join-intro h1 {
    background-image: var(--gradient-glow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    line-height: 1.3;
    padding: 0 20px;
}

.join-intro login-form {
    margin-bottom: 60px;
}

.join-intro login-form,
.join-intro join-form {
    --form-padding: 0 20px;
}

@media screen and (min-width: 992px) {
    .join-intro {
        max-width: 720px;
    }

    .join-intro h1 {
        font-size: 7rem;
    }

    .barred {
        text-align: center;
        margin: 6rem auto;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        font-variant: small-caps;
        font-size: 2rem;
    }

    .barred::after,
    .barred::before {
        border-bottom: 1px solid #333;
        content: ' ';
        flex: 1;
    }
}
